a			{ color: #000066; text-decoration: none; font-weight:bold; }
a:link		{ color: #000066; text-decoration: none; } 
a:visited	{ color: #000033; text-decoration: none; } 
a:hover		{ background-color: #000066; color: #ffffff; }
a img		{ border: none; }
a:link img  { border: none; }
a:visited img { border: none; }
a:hover img { border: none; }
a.gray_image_button:hover { border: none; background-color: #E1E1E1; color: #E1E1E1; }
a.white_image_button:hover { border: none; background-color: #FFFFFF; color: #FFFFFF; }

body {
	font-family: optima, verdana, arial, sans-serif;
	font-size: 1em;
	margin: 0 0 0 0;
	background-color: #E1E1E1;
}

.thinner_body {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

code {
	border: 1px solid gray;
}

.small_code {
	font-size: 10px;
}

pre {
	text-indent: 1em;
}

.big_icon {
	width: 256px;
	height: 160px;
}

.main_box_high {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 22px;
	padding: 10px 20px 10px 10px;
}

.product_header_left_side
{
	float: left;
}

.product_header_right_side
{
	float: right;
}

.product_icon_short {
	width: 256px;
	height: 160px;
	float: left;
	display: inline;
	text-align: center;
	padding: 5em 1em 0 3em;
}

.product_header_box {
	padding-top: 5px;
	width: 610px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-weight: normal;
	margin: 0;
	font-size: 48px;
}

.title_box {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}

.download_box {
	border: 1px solid black;
	padding-right: 10px;
	padding-top: 5px;
	margin-top: 10px;
	background-color: white;
	font-size: 14px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: black;
}

.download_box_stable {
	height: 4em;
	width: 17em;
}

.box_link:link {
	font-weight: normal;
}

.download_box_beta {
	height: 3em;
	width: 16em;
	font-size: 12px;
}

.download_button_box {
	float: left;
	position: relative;
	height: 50px;
	width: 95px;
	vertical-align: middle;
	font-weight: bold;
}

.download_text_box {
	display: inline;
	position: relative;
}

.download_text_box_stable {
	font-size: 12px;
	top: -0.375em;
}

.download_text_box_beta {
	font-size: 11px; 
	top: -0.3em;
}

.button_box_stable {
	font-size: 32px;
	line-height: 0.55em;
}

.button_box_beta {
	font-size: 18px;
	line-height: 0.75em;
	height: 25px;
}

.box_hover:hover {
	#background-color: #ADAEDD;
	background-color: #000066;
	color: white;
}

.small_text_box {
	width: 20em;
	text-align: center;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	font-size: 10px;
	font-family: monaco sans-serif;
}
	

.link_box {
	width: 20em;
	text-align: center;
	margin-top: 7px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
}

.sys_reqs_box {
	font-size:10px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h2, h3 {
	width: 100%;
	margin: 0 0 10px;
	font-weight: normal;
	font-size:1.25em;
	text-indent:-0.5em;
}

.section_header a {
	color: #000;
	text-decoration: none;
	font-weight: normal;
}

.section_header a:hover {
	background-color: transparent;
	color: #000;
}

.header_important {
	font-weight: bold;
	color: red;
}

.header_standard {
	font-weight: bold;
}

.screenshot_images_box {
	text-align: center;
}

.topmost_content_box {
	width: 80%;
	margin-top: 10px;
	padding-top: 1em;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.content_box {
	width: 80%;
	margin-top: 2em;
	padding-top: 2em;
	padding-left: 1em;
	padding-right: 1em;
	border-top: 1px solid #C8C8C8;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.less_padding {
	padding-top: 1em;
}

.important_content_box {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 1px solid red;
	font-size: 12px;
	clear: both;
	width: 50%;
	text-align: center;
}

.green_box {
	border-color: green;
}

.features_column_1 {
	float: right;
	width: 270px;
	position: relative;
	left: -280px;
	font-size: 0.9em;
}

.features_column_2 {
	float: right;
	width: 270px;
	position: relative;
	left: 270px;
	font-size: 0.9em;
}

.footer {
	float: left;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	width: 100%;
	font-size: 0.75em;
	text-align: center;
	margin-top: 3em;
}

.feature_header {
	font-weight: bold;
}

.centered_text {
	text-align:center
}

.donating-on {
	# if donating is turned OFF, this should
	# be display:none;
	
	display: inline;
}

.donating-off {
	# if donating is turned OFF, this should
	# be display:inline;
	
	display: none;
}