<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>ctf</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.rentzsch.clicktoflash</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ClickToFlash</string>
	<key>CFBundlePackageType</key>
	<string>WBPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${PRODUCT_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${PRODUCT_VERSION}</string>
	<key>NSPrincipalClass</key>
	<string>CTFClickToFlashPlugin</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUFeedURL</key>
	<string>http://rentzsch.github.com/clicktoflash/release_notes/appcast.xml</string>
    <!--<string>http://rentzsch.github.com/clicktoflash/release_notes/appcast_distantfuture.xml</string>-->
	<key>WebPluginDescription</key>
	<string>Shockwave Flash 10.0 r45</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/x-shockwave-flash</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>swf</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>ClickToFlash ${PRODUCT_VERSION}</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>Shockwave Flash</string>
	<key>CTFFlashVariableVersion</key>
	<string>MAC 10,0,45,2</string>
</dict>
</plist>
