<?xml version="1.0" encoding="utf-8"?>
<installer-script minSpecVersion="1.000000" authoringTool="com.apple.PackageMaker" authoringToolVersion="3.0.3" authoringToolBuild="174">
    <title>ClickToFlash</title>
    <options customize="never" allow-external-scripts="yes" rootVolumeOnly="false"/>
    <installation-check script="pm_install_check();"/>
    <volume-check script="pm_volume_check();"/>
    <script>function pm_volume_check() {
  if(!(my.target.mountpoint == '/')) {
    my.result.title = 'Failure';
    my.result.message = 'This software can only be installed on the root volume.';
    my.result.type = 'Fatal';
    return false;
  }
  return true;
}


function pm_install_check() {
  if(!(system.version.ProductVersion >= '10.5.0')) {
    my.result.title = 'ClickToFlash requires MacOS X 10.5 Leopard';
    my.result.message = 'ClickToFlash cannot be used with the version of Mac OS X installed on your computer.';
    my.result.type = 'Fatal';
    return false;
  }
  return true;
}



function pm_clicktoflashadmin_selected() {
  result = true;
  result = result &amp;&amp; (system.run('admin_privs_needed.command') == true);
  return result;
}


function pm_clicktoflashadmin_hidden() {
  result = true;
  result = result &amp;&amp; (system.run('admin_privs_needed.command') == true);
  return result;
}


function pm_clicktoflashadmin_enabled() {
  result = true;
  result = result &amp;&amp; (system.run('admin_privs_needed.command') == true);
  return result;
}


function pm_clicktoflashnonadmin_selected() {
  result = true;
  result = result &amp;&amp; (system.run('no_admin_privs_needed.command') == true);
  return result;
}


function pm_clicktoflashnonadmin_hidden() {
  result = true;
  result = result &amp;&amp; (system.run('no_admin_privs_needed.command') == true);
  return result;
}


function pm_clicktoflashnonadmin_enabled() {
  result = true;
  result = result &amp;&amp; (system.run('no_admin_privs_needed.command') == true);
  return result;
}</script>
    <background file="background" alignment="bottomright" scaling="none"/>
    <readme file="ReadMe"/>
    <choices-outline>
        <line choice="clicktoflashadmin"/>
        <line choice="clicktoflashnonadmin"/>
    </choices-outline>
    <choice id="clicktoflashadmin" title="ClickToFlash-admin" selected="pm_clicktoflashadmin_selected()" enabled="pm_clicktoflashadmin_enabled()" visible="!pm_clicktoflashadmin_hidden()">
        <pkg-ref id="com.github.rentzsch.clicktoflash.admin.pkg"/>
    </choice>
    <choice id="clicktoflashnonadmin" title="ClickToFlash-nonadmin" selected="pm_clicktoflashnonadmin_selected()" enabled="pm_clicktoflashnonadmin_enabled()" visible="!pm_clicktoflashnonadmin_hidden()">
        <pkg-ref id="com.github.rentzsch.clicktoflash.nonadmin.pkg"/>
    </choice>
    <pkg-ref id="com.github.rentzsch.clicktoflash.admin.pkg" installKBytes="1736" version="1" auth="Root">file:./Contents/Packages/clicktoflash-admin.pkg</pkg-ref>
    <pkg-ref id="com.github.rentzsch.clicktoflash.nonadmin.pkg" installKBytes="1736" version="1">file:./Contents/Packages/clicktoflash-nonadmin.pkg</pkg-ref>
</installer-script>